
 <div class="our-pods-section">
<a name="pagecontent" id="pagecontent"></a>



  
   {% section 'page-our-pods-template' %}
  
  
<!--logo-->
  <div class="row">
      <div class="logo-bar">
      <div class="one-third columns logo-bar_item">
          <img src= "{{ 'zipper_icon.png' | asset_url }}" >
          <h4>Durable Construction</h4>
      </div>
      <div class="one-third columns logo-bar_item ">
        <img src= "{{ 'weather_icon.png' | asset_url }}" >
        <h4>Weather Resistant</h4>
    </div>
    <div class="one-third columns logo-bar_item">
        <img src= "{{ 'shelter_icon.png' | asset_url }}" >
        <h4>High Performance</h4>
    </div>
    </div>
  </div>

  <!--multi-color-banners-->
  <div class="MyPod2wrapper">
    
   <div class="container center">
        <h2 class="title ">MyPodTM</h2>
        <span class="hr"></span>
        <div id="MyPod2">
        <div  class="one-third columns">
            <h3>MyPodDoubleX Roof Sold Seperately</h3>
            <ul>
                <li>All Roofs come with roof hooks for added protection</li>
                <li>Roofs come in a variety of colors (customization is available for this product)</li>
                <li>Add custom roof coloring in a variety of colors</li>
            </ul>
        </div>
        <div class="one-third columns center">
          <img src="{{ 'MyPod_about.png' | asset_url }}" >
          <span class="center icon-down-arrow"></span>
      </div>
      <div class="one-third columns">
          <h3>MyPodDoubleX Pop-up Backpacking Tent</h3>
            <ul>
                <li>Modular Design</li>
                <li>Sized for big and tall</li>
                <li>Carry case and ground stakes included</li>
                <li>Fits two adults and two chairs</li>
                <li>Designed to stand upright or lay sideways</li>
            </ul>
  
            <a href="#" class="button action_button continue-button">Shop Now</a>
      </div>
   
  </div>
  </div>
  </div>
  <div class="MonsterMeshPodwrapper">
    
      <div class="container center">
      <h2 class="title">Monster Mesh Pod</h2>
        <span class="hr"></span>
        <div id="MMP">
        <div class="one-third columns">
            <h3>Under the Weather Bench Sold Seperately</h3>
            <ul>
                <li>30" diameter (folded) for easy storage and packing</li>
                <li>Inside meansurements 78.74" (l) x 78.74" (W) x 78.74" (H)</li>
                <li>Portable and lightweight (approximately 14.3 lbs.)</li>
            </ul>
        </div>
        <div class="one-third columns center">
          <img src=" {{ 'MonsterMeshPod_about.png' | asset_url }}">
          <span class="center icon-down-arrow"></span>
        </div>
      <div class="one-third columns">
          <h3>Ultimate Fully-Encloseable</h3>
            <ul>
                <li>Seats four to six adults</li>
                <li>Pops up and folds down in seconds</li>
                <li>Panoramic Views</li>
                <li>Modular Design</li>
                <li>Variety of setaing options</li>
            </ul>
  
            <a href="#" class="button action_button continue-button ">Shop Now</a>
     
  </div>
</div>
  </div>
  </div>

  <div class="ConnectUpwrapper">
       
          <div class="container center">
      <h2 class="title">ConnectUpTM Pods</h2>
       <span class="hr"></span>
        <div id="CU">
        <div class="one-third column ">
            <h3>MyPod Pop-up Tents Sold Separately</h3>
            <ul>
                <li>All Roofs come with roof hooks for added protection</li>
                <li>Roofs come in a variety of colors (customization is available for this product)</li>
                <li>Add custom roof coloring in a variety of colors</li>
            </ul>
        </div>
        <div class="one-third column center">
          <img src=" {{ 'ConnectUp_about.png' | | asset_url }}">
          <span class="center icon-down-arrow"></span>
        </div>
      <div class="one-third column">
          <h3>ConnectUp (2) Roof For MyPod</h3>
            <ul>
                <li>With double sized roof</li>
                <li>Perfect for keeping warm and dry</li>
                <li>They pop-up and fold down in a snap!</li>
                <li>Lorem Ipsum</li>
                <li>Dolor sit amet</li>
            </ul>
  
            <a href="#" class="button action_button continue-button">Shop Now</a>
      </div>
  </div>
  </div>
  </div>

  


<!--image and text-->
<div class="container">
    <div id="stay-dry" class="sixteen columns">
<div class="eight columns alpha">
    <h2 class="title">Stay Dry & Comfortable, No Matter the Weather.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a href="#" class="button action_button continue-button">Shop Now</a>
</div>
<div class="eight columns">
    <img src=" {{ 'staydry_about.jpg' | | asset_url }}">
</div>
</div>
</div>
<!--text columns with images-->
<div id="spend-time" class="container">

<h2 class="title center">Spend time with the ones you love</h2>
<div class="feature-divider"></div>
<div class="one-third columns">
    <img src="{{ 'aboutpods1.jpg' | asset_url }}">
    <h3>Lorem Ipsum</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
<div class="one-third columns">
    <img src="{{ 'aboutpods2.jpg' | | asset_url }}">
    <h3>Lorem Ipsum</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
<div class="one-third columns">
  <img src="{{ 'aboutpods3.jpg' | asset_url }}">
<h3>Lorem Ipsum</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
<div class="four columns alpha offset-by-six">
<a href="#" class="action_button continue-button">Discover More Pods</a>
</div>
</div>
</div>
{% comment %}
<div class="our-pods-section">

    <a name="pagecontent" id="pagecontent"></a>
    
    
    
      
       {% section 'page-our-pods-template' %}
      
    <!--logo-->
      <div class="row">
          <div class="logo-bar">
          <div class="one-third columns logo-bar_item">
              <img src= "{{ 'zipper_icon.png' | asset_url }}" >
              <h4>Durable Construction</h4>
          </div>
          <div class="one-third columns logo-bar_item ">
            <img src= "{{ 'weather_icon.png' | asset_url }}" >
            <h4>Weather Resistant</h4>
        </div>
        <div class="one-third columns logo-bar_item">
            <img src= "{{ 'shelter_icon.png' | asset_url }}" >
            <h4>High Performance</h4>
        </div>
        </div>
      </div>
    
      <!--multi-color-banners-->
      <div class="MyPod2wrapper">
        
       <div class="container">
            <h2>MyPodTM</h2>
            <span></span>
            <div id="MyPod2" class="container">
            <div  class="one-third columns">
                <h3>MyPodDoubleX Roof Sold Seperately</h3>
                <ul>
                    <li>All Roofs come with roof hooks for added protection</li>
                    <li>Roofs come in a variety of colors (customization is available for this product)</li>
                    <li>Add custom roof coloring in a variety of colors</li>
                </ul>
            </div>
            <div class="one-third columns">
              <img src="{{ 'MyPod_about.png' | asset_url }}" >
          </div>
          <div class="one-third columns">
              <h3>MyPodDoubleX Pop-up Backpacking Tent</h3>
                <ul>
                    <li>Modular Design</li>
                    <li>Sized for big and tall</li>
                    <li>Carry case and ground stakes included</li>
                    <li>Fits two adults and two chairs</li>
                    <li>Designed to stand upright or lay sideways</li>
                </ul>
      
                <a href="#" class="button">Shop Now</a>
          </div>
       
      </div>
      </div>
      </div>
      <div class="MonsterMeshPodwrapper">
        
          <div class="container">
          <h2>Monster Mesh Pod</h2>
            <span></span>
            <div id="MMP">
            <div class="one-third columns">
                <h3>Under the Weather Bench Sold Seperately</h3>
                <ul>
                    <li>30" diameter (folded) for easy storage and packing</li>
                    <li>Inside meansurements 78.74" (l) x 78.74" (W) x 78.74" (H)</li>
                    <li>Portable and lightweight (approximately 14.3 lbs.)</li>
                </ul>
            </div>
            <div class="one-third columns">
              <img src=" {{ 'MonsterMeshPod_about.png' | asset_url }}">
          </div>
          <div class="one-third columns">
              <h3>Ultimate Fully-Encloseable</h3>
                <ul>
                    <li>Seats four to six adults</li>
                    <li>Pops up and folds down in seconds</li>
                    <li>Panoramic Views</li>
                    <li>Modular Design</li>
                    <li>Variety of setaing options</li>
                </ul>
      
                <a href="#" class="button">Shop Now</a>
         
      </div>
    </div>
      </div>
      </div>
    
      <div class="ConnectUpwrapper">
           
              <div class="container">
          <h2>ConnectUpTM Pods</h2>
           <span></span>
            <div id="CU">
            <div class="one-third columns alpha">
                <h3>MyPod Pop-up Tents Sold Separately</h3>
                <ul>
                    <li>All Roofs come with roof hooks for added protection</li>
                    <li>Roofs come in a variety of colors (customization is available for this product)</li>
                    <li>Add custom roof coloring in a variety of colors</li>
                </ul>
            </div>
            <div class="one-third columns">
              <img src=" {{ 'ConnectUp_about.png' | | asset_url }}">
          </div>
          <div class="one-third columns omega">
              <h3>ConnectUp (2) Roof For MyPod</h3>
                <ul>
                    <li>With double sized roof</li>
                    <li>Perfect for keeping warm and dry</li>
                    <li>They pop-up and fold down in a snap!</li>
                    <li>Lorem Ipsum</li>
                    <li>Dolor sit amet</li>
                </ul>
      
                <a href="#" class="button">Shop Now</a>
          </div>
      </div>
      </div>
      </div>
    
      
    
    
    <!--image and text-->
    <div class="container">
    <div class="one-half columns">
        <h2>Stay Dry & Comfortable, No Matter the Weather.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <a href="#" class="button">Shop Now</a>
    </div>
    <div class="one-half columns">
        <img src=" {{ 'staydry_about.jpg' | | asset_url }}">
    </div>
    </div>
    <!--text columns with images-->
    <div class="container">
    
    <h2>Spend time with the ones you love</h2>
    <div class="feature-divider"></div>
    <div class="one-third columns">
        <img src="{{ 'aboutpods1.jpg' | asset_url }}">
        <h3>Lorem Ipsum</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="one-third columns">
        <img src="{{ 'aboutpods2.jpg' | | asset_url }}">
        <h3>Lorem Ipsum</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="one-third columns">
      <img src="{{ 'aboutpods3.jpg' | asset_url }}">
    <h3>Lorem Ipsum</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <a href="#" class="action_button continue-button">Discover More Pods</a>
    </div>
    </div>
{% endcomment %}